In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("Data/apple_products.csv")

In [6]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

In [8]:
df.count()

Product Name           62
Product URL            62
Brand                  62
Sale Price             62
Mrp                    62
Discount Percentage    62
Number Of Ratings      62
Number Of Reviews      62
Upc                    62
Star Rating            62
Ram                    62
dtype: int64

In [10]:
df["Mrp"].max()

149900

In [12]:
df["Mrp"].min()

39900

In [16]:
df[df["Mrp"]>109900]

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
14,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,131900,131900,0,1078,101,MOBFKCTS7HCHSPFH,4.7,4 GB
15,"APPLE iPhone 11 Pro Max (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,0,1078,101,MOBFKCTSAPAYNSGG,4.7,4 GB
16,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,131900,131900,0,1078,101,MOBFKCTSCAAKGQV7,4.7,4 GB
17,"APPLE iPhone 11 Pro Max (Space Grey, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,0,1078,101,MOBFKCTSKDMKCGQS,4.7,4 GB
19,"APPLE iPhone 11 Pro (Space Grey, 512 GB)",https://www.flipkart.com/apple-iphone-11-pro-s...,Apple,117900,140300,15,7088,523,MOBFKCTSRTHRQTFT,4.6,4 GB
20,"APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,0,1078,101,MOBFKCTSRYPAQNYT,4.7,4 GB
21,"APPLE iPhone 11 Pro (Midnight Green, 512 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117900,140300,15,7088,523,MOBFKCTSSJCWYGCC,4.6,4 GB
22,"APPLE iPhone 11 Pro (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-11-pro-s...,Apple,99900,121300,17,7081,522,MOBFKCTSWGYSAS9X,4.6,4 GB
24,"APPLE iPhone 12 Pro (Silver, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-s...,Apple,140900,149900,6,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB
25,"APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,6,580,45,MOBFWBYZ8STJXCVT,4.6,6 GB
27,"APPLE iPhone 12 Pro (Graphite, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-g...,Apple,120900,129900,6,545,42,MOBFWBYZBA36UB7G,4.5,6 GB
30,"APPLE iPhone 12 Pro (Graphite, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-g...,Apple,110900,119900,7,545,42,MOBFWBYZBZ7Y56WD,4.5,6 GB
31,"APPLE iPhone 12 Pro Max (Graphite, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,6,580,45,MOBFWBYZEF6XQ5ZW,4.6,6 GB
32,"APPLE iPhone 12 Pro Max (Graphite, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,6,580,45,MOBFWBYZFDGQSDWS,4.6,6 GB
37,"APPLE iPhone 12 Pro Max (Silver, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,6,580,45,MOBFWBYZNSNVGGZC,4.6,6 GB
39,"APPLE iPhone 12 Pro Max (Gold, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,6,580,45,MOBFWBYZQVKT77YH,4.6,6 GB
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,140900,149900,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB
46,"APPLE iPhone 12 Pro (Pacific Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,110900,119900,7,545,42,MOBFWBYZXYSCEEEH,4.5,6 GB
47,"APPLE iPhone 12 Pro Max (Pacific Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,6,580,45,MOBFWBYZZABKHZQA,4.6,6 GB
48,"APPLE iPhone 12 Pro Max (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,6,580,45,MOBFWBYZZH4AM8FE,4.6,6 GB
49,"APPLE iPhone 12 Pro Max (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,6,580,45,MOBFWBYZZPW8JHQF,4.6,6 GB

In [30]:
list(df['Product Name'])[46][5:15].strip()

'iPhone 12'

In [35]:
df["Model"]=df['Product Name'].str[6:15]

In [37]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Model
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,iPhone 8
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,iPhone 8
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,iPhone 8
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB,iPhone 8
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,iPhone 8

In [39]:
df.sort_values(by=["Number Of Ratings"],ascending = False)

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Model
23,"Apple iPhone SE (White, 256 GB) (Includes EarP...",https://www.flipkart.com/apple-iphone-se-white...,Apple,44999,54900,18,95909,8161,MOBFRFXHPZCHAPEH,4.5,2 GB,iPhone SE
53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,22,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB,iPhone SE
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,22,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,iPhone SE
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,iPhone SE
52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,24,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB,iPhone SE
...,...,...,...,...,...,...,...,...,...,...,...,...
46,"APPLE iPhone 12 Pro (Pacific Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,110900,119900,7,545,42,MOBFWBYZXYSCEEEH,4.5,6 GB,iPhone 12
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,140900,149900,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB,iPhone 12
30,"APPLE iPhone 12 Pro (Graphite, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-g...,Apple,110900,119900,7,545,42,MOBFWBYZBZ7Y56WD,4.5,6 GB,iPhone 12
27,"APPLE iPhone 12 Pro (Graphite, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-g...,Apple,120900,129900,6,545,42,MOBFWBYZBA36UB7G,4.5,6 GB,iPhone 12
24,"APPLE iPhone 12 Pro (Silver, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-s...,Apple,140900,149900,6,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB,iPhone 12

In [3]:
s = "Elephant"
s[3:4]

'p'

In [13]:
l=[1,2,3]
r=[4,5,6]

In [14]:
l.extend(r)

In [15]:
l

[1, 2, 3, 4, 5, 6]

In [17]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
l[1:2:]

[1]

In [26]:
l = list(range(10))

In [27]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
l.insert(7,'Hi')

In [33]:
l

['Hi', 'Hi', 0, 1, 2, 3, 4, 'Hi', 5, 6, 7, 8, 9]

In [34]:
dic={'a':1,'b':2,'c':3}

In [36]:
print(dic)

{'a': 1, 'b': 2, 'c': 3}

In [38]:
dic['a']

1

In [39]:
dic['a']=4

In [40]:
dic

{'a': 4, 'b': 2, 'c': 3}

In [3]:
a=6
b=3
if a>b:
    print('true')
else:
    print('false')

true

In [6]:
users=['a','b','c']
users.append('d')
for user in users:
    print(user)

a
b
c
d

In [11]:
i=0
while i<10:
    
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [13]:
users=['a','b','c']
hello = ["hello "+ user for user in users]

In [14]:
print(hello)

['hello a', 'hello b', 'hello c']

In [17]:
try:
    x=1/a
except ZeroDivisionError:
    print("no 000")
else:
    print('no something wrong')
finally:
    print("final word")

no something wrong
final word

In [20]:
with open('abc.txt','w') as f:
    f.write('fddff dfsfsdf')

In [21]:
pwd

'C:\\Users\\Regan\\Python-DE'

In [24]:
with open('abc.txt','a') as f:
    f.write('yrryeyy\n')
    f.write('yrryeyy\n')
    f.write('yrryeyy\n')

In [26]:
with open('abc.txt','r') as f:
    for line in f:
        print(line)

fddff dfsfsdfyrryeyyyrryeyy

yrryeyy

yrryeyy

yrryeyy

yrryeyy

yrryeyy

In [27]:
f.close()

In [28]:
def fu(*args):
    print(args)

In [29]:
fu(1,2,3)

(1, 2, 3)

In [42]:
def fua(**kwargs):
    for value in kwargs.items():
        print(value)

In [43]:
fua(a='A',b='B')

('a', 'A')
('b', 'B')

In [47]:
name_lambda = lambda name: "Hello "+name

In [48]:
name_lambda('Li')

'Hello Li'

In [85]:
class Circle():
    pi = 3.14
    def __init__(self,r=1):
        self.r=r
    def area(self):
        return self.r*self.r*Circle.pi
    def setR(self,r):
        self.r=r
    def getR(self):
        return self.r

In [86]:
c = Circle(4)

In [87]:
c.area()

50.24

In [88]:
d = Circle()

In [89]:
d.area()
d.setR(2)

In [83]:
d.getR()

1

In [84]:
d.pi

3.14

In [90]:
class Student:
    # class variables
    school_name = 'ABC School'

    # constructor
    def __init__(self, name, age):
        # instance variables
        self.name = name
        self.age = age

    # instance variables
    def show(self):
        print(self.name, self.age, Student.school_name)

    @classmethod
    def change_School(cls, name):
        cls.school_name = name

    @staticmethod
    def find_notes(subject_name):
        return ['chapter 1', 'chapter 2', 'chapter 3']

In [91]:
gen = Student("Gen",30)

In [92]:
li=Student('Li',20)

In [93]:
gen.show()

Gen 30 ABC School

In [106]:
gen.change_School('ac')

In [107]:
gen.show()

Gen 30 ac

In [108]:
li.show()

Li 20 ac

In [111]:
gen.find_notes('ssd')

['chapter 1', 'chapter 2', 'chapter 3']

In [5]:
import numpy as np
ml=[1,'2',3]
np.array(ml)

array(['1', '2', '3'], dtype='<U11')

In [6]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [2]:
import pandas as pd

In [3]:
weather_df = pd.read_csv("data/weather_2012.csv")

In [4]:
print("Shape: ",weather_df.shape)
print("Index: ",weather_df.index)

Shape:  (8784, 8)
Index:  RangeIndex(start=0, stop=8784, step=1)

In [5]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [8]:
weather_df['Temp (C)'].head()

0   -1.8
1   -1.8
2   -1.8
3   -1.5
4   -1.5
Name: Temp (C), dtype: float64

In [9]:
weather_df['Date/Time']=pd.to_datetime(weather_df['Date/Time'])

In [10]:
weather_df['Date/Time']

0      2012-01-01 00:00:00
1      2012-01-01 01:00:00
2      2012-01-01 02:00:00
3      2012-01-01 03:00:00
4      2012-01-01 04:00:00
               ...
8779   2012-12-31 19:00:00
8780   2012-12-31 20:00:00
8781   2012-12-31 21:00:00
8782   2012-12-31 22:00:00
8783   2012-12-31 23:00:00
Name: Date/Time, Length: 8784, dtype: datetime64[ns]

In [12]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [13]:
weather_df['Weather'].nunique()

50

In [14]:
weather_df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [22]:
weather_df['Weather'].value_counts()[3]

1326

In [23]:
col = weather_df[['Weather', 'Temp (C)']]

In [24]:
col.head()

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
4                   Fog      -1.5

In [26]:
weather_df.loc[0:9,['Date/Time','Temp (C)','Weather']]

            Date/Time  Temp (C)               Weather
0 2012-01-01 00:00:00      -1.8                   Fog
1 2012-01-01 01:00:00      -1.8                   Fog
2 2012-01-01 02:00:00      -1.8  Freezing Drizzle,Fog
3 2012-01-01 03:00:00      -1.5  Freezing Drizzle,Fog
4 2012-01-01 04:00:00      -1.5                   Fog
5 2012-01-01 05:00:00      -1.4                   Fog
6 2012-01-01 06:00:00      -1.5                   Fog
7 2012-01-01 07:00:00      -1.4                   Fog
8 2012-01-01 08:00:00      -1.4                   Fog
9 2012-01-01 09:00:00      -1.3                   Fog

In [32]:
weather_df[['Date/Time','Temp (C)','Weather']].iloc[0:9]

            Date/Time  Temp (C)               Weather
0 2012-01-01 00:00:00      -1.8                   Fog
1 2012-01-01 01:00:00      -1.8                   Fog
2 2012-01-01 02:00:00      -1.8  Freezing Drizzle,Fog
3 2012-01-01 03:00:00      -1.5  Freezing Drizzle,Fog
4 2012-01-01 04:00:00      -1.5                   Fog
5 2012-01-01 05:00:00      -1.4                   Fog
6 2012-01-01 06:00:00      -1.5                   Fog
7 2012-01-01 07:00:00      -1.4                   Fog
8 2012-01-01 08:00:00      -1.4                   Fog

In [38]:
snow_filter=weather_df['Weather'].str.lower().str.contains('snow')

In [39]:
snow_filter

0       False
1       False
2       False
3       False
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Name: Weather, Length: 8784, dtype: bool

In [40]:
weather_df[snow_filter]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [41]:
df=weather_df[(weather_df['Wind Spd (km/h)']>22)]

In [42]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [43]:
df=weather_df[(weather_df['Wind Spd (km/h)']>22)&(weather_df['Visibility (km)']<20)]

In [44]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
128,2012-01-06 08:00:00,-12.3,-16.2,73,24,11.3,100.51,Snow
129,2012-01-06 09:00:00,-12.5,-16.7,71,26,19.3,100.53,Snow
130,2012-01-06 10:00:00,-12.3,-16.3,72,28,16.1,100.47,Snow
132,2012-01-06 12:00:00,-11.7,-15.4,74,28,19.3,100.23,Snow
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [45]:
weather_df['Visibility (m)']=weather_df["Visibility (km)"]*1000

In [46]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (m)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

In [48]:
weather_df.rename(columns={"Temp (C)":'Temperature','Visibility (m)':"Visibility in meters"},inplace=True)

In [49]:
weather_df.head()

,Date/Time,Temperature,Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility in meters
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

In [3]:
df=pd.DataFrame({'date':['2/1/2023','3/1/2023','4/1/2023'],'value':[2,3,4]})

In [4]:
df

       date  value
0  2/1/2023      2
1  3/1/2023      3
2  4/1/2023      4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [6]:
df['date']=pd.to_datetime(df['date'])

In [7]:
df

        date  value
0 2023-02-01      2
1 2023-03-01      3
2 2023-04-01      4

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [23]:
df['date']=pd.to_datetime(df['date'],dayfirst=True)

In [24]:
df

        date  value
0 2023-02-01      2
1 2023-03-01      3
2 2023-04-01      4

In [27]:
df['date']=pd.to_datetime(df['date'],format='%Y-%m-%d')

In [34]:
df

        date  value
0 2023-02-01      2
1 2023-03-01      3
2 2023-04-01      4

In [37]:
df['date']

0   2023-02-01
1   2023-03-01
2   2023-04-01
Name: date, dtype: datetime64[ns]

In [38]:
df['year']=df['date'].dt.year

In [40]:
df['month']=df['date'].dt.month

In [41]:
df

        date  value  year  month
0 2023-02-01      2  2023      2
1 2023-03-01      3  2023      3
2 2023-04-01      4  2023      4

In [42]:
df['date']=pd.to_datetime(df['date'],dayfirst=False)

In [46]:
df

        date  value  year  month
0 2023-02-01      2  2023      2
1 2023-03-01      3  2023      3
2 2023-04-01      4  2023      4

In [47]:
df=pd.DataFrame({'date':['2/1/2023','3/1/2023','4/1/2023'],'value':[2,3,4]})
df['date']=pd.to_datetime(df['date'],dayfirst=True)

In [48]:
df

        date  value
0 2023-01-02      2
1 2023-01-03      3
2 2023-01-04      4

In [50]:
df['month']=df['date'].dt.month

In [51]:
df

        date  value  month
0 2023-01-02      2      1
1 2023-01-03      3      1
2 2023-01-04      4      1

In [52]:
df['date'].dt.weekday

0    0
1    1
2    2
Name: date, dtype: int64

In [53]:
dw_mapping={
    0:'Mon',
    1:'Tue',
    2:'Wed',
    3:'Thu',
    4:'Fri',
    5:'Sat',
    6:'Sun'
}
df['day_of_week']=df['date'].dt.weekday.map(dw_mapping)

In [54]:
df

        date  value  month day_of_week
0 2023-01-02      2      1         Mon
1 2023-01-03      3      1         Tue
2 2023-01-04      4      1         Wed

In [55]:
my_mapping={
    1:'Jan',
    2:'Feb',
    3:'Mar',
    4:'Apr',
    5:'May',
    6:'Jun',
    7:'Jul',
    8:'Aug',
    9:'Sep',
    10:'Oct',
    11:'Nov',
    12:'Dec'
}
df['month_of_year']=df['date'].dt.month.map(my_mapping)

In [56]:
df

        date  value  month day_of_week month_of_year
0 2023-01-02      2      1         Mon           Jan
1 2023-01-03      3      1         Tue           Jan
2 2023-01-04      4      1         Wed           Jan

In [57]:
pd.to_datetime('today')

Timestamp('2024-01-03 19:28:26.768027')

In [58]:
import json

In [60]:
data = {
    'owner':{
        'name':'Gen Li',
        'gender':'Male'
    }
}

In [62]:
with open('gen.json','w')as write_file:
    json.dump(data,write_file)

In [63]:
with open('gen.json','r')as read_file:
    data = json.load(read_file)

In [64]:
data

{'owner': {'name': 'Gen Li', 'gender': 'Male'}}

In [65]:
type(data)

dict

In [82]:
import pandas as pd
jsonStr={
'animal':{'a':'dog','b':'cat'},
'color':{'x':'white','y':'black'}
}

In [84]:
jsonStr2='''{
'animal':{'a':'dog','b':'cat'},
'color':{'x':'white','y':'black'}
}'''

In [85]:
jsonStr2

"{\n'animal':{'a':'dog','b':'cat'},\n'color':{'x':'white','y':'black'}\n}"

In [86]:
df2=pd.read_json(jsonStr2)

ValueError: Expected object or value

In [88]:
import pandas as pd

jsonStr3 = '''{"Index0":{"Courses": "Pandas","Discount": "1200"},
           "Index1":{"Courses": "Hadoop","Discount": "1500"},
           "Index2":{"Courses": "Spark","Discount": "1800"}
          }'''